@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

html,
body,
#__next {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

*::selection {
  color: #000;
}
